<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8"/>
    <title>张皓天 | 个人简历</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
</head>
<body>
    <div>
        <h1 align="center">张皓天</h1>
        <div align="center">
            <i class="fa fa-envelope">&nbsp;skyebefreeman@gmail.com</i>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-graduation-cap"></i>&nbsp;教育背景</h2>
        <hr></hr>
        <div>
            <section>
                <p>
                    <span><b>中山大学</b>，广州</span>
                    <span style="float: right">2018年9月&nbsp;--&nbsp;至今</span>
                </p>
                <p>
                    <span style="font-family: KaiTi">2020届数据科学与计算机学院软件工程专业硕士研究生（保送研究生）</span>
                </p>
            </section>
            <section>
                <p>
                    <span><b>中山大学</b>，广州</span>
                    <span style="float: right">2014年9月&nbsp;--&nbsp;2018年6月</span>
                </p>
                <p>
                    <span style="font-family: KaiTi">2018届数据科学与计算机学院软件工程专业本科生</span>
                </p>
            </section>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-cogs"></i>&nbsp;编程技能</h2>
        <hr></hr>
        <div>
            <section>
                <ul>
                    <li><b>编程语言</b>&nbsp;:&nbsp; Java、Python等</li>
                    <li><b>开发</b>&nbsp;:&nbsp;Spring Boot后端开发、Spring Cloud微服务架构、Android客户端开发、Vue前端开发等</li>
                </ul>
            </section>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-building"></i>&nbsp;实习经历</h2>
        <hr></hr>
        <div>
            <section>
                <p>
                    <span><b>图森未来</b></span>
                    <span style="float: right">2017年9月&nbsp;--&nbsp;2017年12月</span>
                </p>
                <p>
                    <span style="font-family: KaiTi">高性能计算部</span>
                    <span>&nbsp;&nbsp;基础架构部</span>
                </p>
                <ul>
                    <li>修改开源容器管理平台Rancher资源调度相关代码，添加基于GPU计算资源的调度策略，并部署</li>
                    <li>参与企业内部容器管理平台的开发，完善任务分发、资源调度等功能</li>
                    <li>部署Jenkins以支持企业内部项目的持续集成与持续部署，修改部分内部项目实现获取外部配置数据的功能以支持持续集成</li>
                </ul>
            </section>
            <section>
                <p>
                    <span><b>华为技术有限公司</b></span>
                    <span style="float: right">2017年7月&nbsp;--&nbsp;2017年8月</span>
                </p>
                <p>
                    <span style="font-family: KaiTi">华为IT云</span>
                    <span>&nbsp;&nbsp;计算与存储部</span>
                </p>
                <ul>
                    <li>了解弹性云主机架构，使用系统命令行指令处理针对用户云主机问题单，协调运营和开发的工</li>
                    <li>编写配置多个系统平台云主机网卡的配置脚本和用户易于阅读的路由配置说明</li>
                </ul>
            </section>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-users"></i>&nbsp;主要项目经历</h2>
        <hr></hr>
        <div>
            <section>
                <p>
                    <span><b>状态机工作流执行环境</b></span>
                    <span style="float: right">2018年10月&nbsp;--&nbsp;至今</span>
                </p>
                <p>
                    <span style="font-family: KaiTi">软件工程与应用研究所</span>
                    <span>&nbsp;&nbsp;基于状态机的工作流管理系统</span>
                </p>
                <ul>
                    <li>实现可迁移的有状态服务调度算法，以提升有状态的状态机工作流引擎微服务多实例化的QoS</li>
                    <li>使用 Spring Cloud 微服务框架重构原有的传统单实例服务架构，实现微服务化</li>
                    <li> 重构项目不规范代码，并添加Redis集中式缓存以提升BPM数据读取性能</li>
                </ul>
            </section>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-trophy"></i>&nbsp;获奖情况</h2>
        <hr></hr>
        <div class="reward">
            <p>
                <span>中山大学优秀本科毕业生</span>
                <span style="float: right">2018年6月</span>
            </p>
            <p>
                <span style="font-family: KaiTi">二等奖</span>
                <span>&nbsp;&nbsp;中山大学优秀学生奖学金</span>
                <span style="float: right">2017年11月</span>
            </p>
            <p>
                <span style="font-family: KaiTi">一等奖</span>
                <span>&nbsp;&nbsp;中山大学普华永道杯华南地区创客马拉松</span>
                <span style="float: right">2017年4月</span>
            </p>
            <p>
                <span style="font-family: KaiTi">Meritorious&nbsp;Winner</span>
                <span>&nbsp;&nbsp;美国大学生数学建模竞赛</span>
                <span style="float: right">2017年4月</span>
            </p>
            <p>
                <span style="font-family: KaiTi">二等奖</span>
                <span>&nbsp;&nbsp;中山大学优秀学生奖学金</span>
                <span style="float: right">2016年11月</span>
            </p>
            <p>
                <span style="font-family: KaiTi">三等奖</span>
                <span>&nbsp;&nbsp;中山大学优秀学生奖学金</span>
                <span style="float: right">2015年11月</span>
            </p>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-info-circle"></i>&nbsp;其他</h2>
        <hr></hr>
        <div>
            <section>
                <ul>
                    <li><b>学业成绩</b>&nbsp;:&nbsp;前10%</li>
                    <li><b>语言</b>&nbsp;:&nbsp;英语(CET-6 537分)</li>
                    <li><b>技术博客</b>&nbsp;:&nbsp;<a href="http://blog.csdn.net/skyebefreeman">http://blog.csdn.net/skyebefreeman</a> </li>
                    <li><b>GitHub</b>&nbsp;:&nbsp;<a href="https://github.com/SkyeBeFreeman">https://github.com/SkyeBeFreeman</a> </li>
                    <li><b>个人简历</b>&nbsp;:&nbsp;<a href="https://www.skyebefreeman.cn">https://www.skyebefreeman.cn</a> </li>
                </ul>
            </section>
        </div>
    </div>
</body>
</html>