<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8"/>
    <title>张皓天 | 个人简历</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
    <div>
        <h1 align="center">张皓天</h1>
        <div align="center">
            <i class="fa fa-envelope">&nbsp;skyebefreeman@gmail.com</i>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-graduation-cap"></i>&nbsp;教育背景</h2>
        <hr></hr>
        <div>
            <section>
                <p>
                    <span><b>中山大学</b>，广州</span>
                    <span style="float: right">2014年9月&nbsp;--&nbsp;至今</span>
                </p>
                <p>
                    <span style="font-family: KaiTi">2018届软件工程专业</span>
                </p>
            </section>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-cogs"></i>&nbsp;编程技能</h2>
        <hr></hr>
        <div>
            <section>
                <ul>
                    <li><b>编程语言</b>&nbsp;:&nbsp;Java&nbsp;>&nbsp;Python&nbsp;>&nbsp;C++</li>
                    <li><b>开发</b>&nbsp;:&nbsp;微服务架构、Spring Boot后台应用、Android客户端</li>
                </ul>
            </section>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-building"></i>&nbsp;实习经历</h2>
        <hr></hr>
        <div>
            <section>
                <p>
                    <span><b>北京图森智途科技有限公司</b></span>
                    <span style="float: right">2017年9月&nbsp;--&nbsp;2018年1月</span>
                </p>
                <p>
                    <span style="font-family: KaiTi">高性能计算部</span>
                    <span>&nbsp;&nbsp;infra部</span>
                </p>
                <ul>
                    <li>修改开源Docker容器管理平台Rancher内核代码，添加基于GPU资源分配计算资源的功能</li>
                    <li>参与开发公司内部开发的Docker容器管理平台，包括任务分发、资源调配等功能</li>
                    <li>部署Jenkins以实现公司内部业务代码的持续集成与持续部署</li>
                    <li>修改公司内部代码以支持持续集成与根据需要部署的地理位置获取外部配置数据</li>
                </ul>
            </section>
            <section>
                <p>
                    <span><b>华为技术有限公司</b></span>
                    <span style="float: right">2017年7月&nbsp;--&nbsp;2017年9月</span>
                </p>
                <p>
                    <span style="font-family: KaiTi">华为IT云</span>
                    <span>&nbsp;&nbsp;计算与存储部</span>
                </p>
                <ul>
                    <li>处理弹性云主机问题单，协调运营和开发的工作</li>
                    <li>编写脚本以便捷处理虚拟机中网卡和路由配置</li>
                    <li>参与数百台物理服务器的OpenStack搭建</li>
                </ul>
            </section>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-users"></i>&nbsp;项目经历</h2>
        <hr></hr>
        <div>
            <section>
                <p>
                    <span><b>易助项目</b></span>
                    <span style="float: right">2017年5月&nbsp;--&nbsp;2017年7月&nbsp;；&nbsp;2018年3月&nbsp;--&nbsp;至今</span>
                </p>
                <p>
                    <span style="font-family: KaiTi">易助团队</span>
                    <span>&nbsp;&nbsp;一款基于位置的鼓励用户相互帮助的微服务架构应用</span>
                </p>
                <ul>
                    <li>基于Spring Cloud微服务架构组件敏捷开发Spring Boot后台应用</li>
                    <li>开发API网关微服务中身份权限的过滤功能与求助功能微服务的业务逻辑代码</li>
                    <li>开发基于状态机的多人组队算法微服务，优化现有的信任信誉模型，并以此为毕业设计</li>
                </ul>
            </section>
            <section>
                <p>
                    <span><b>早査</b></span>
                    <span style="float: right">2017年4月14日&nbsp;--&nbsp;2017年4月16日</span>
                </p>
                <p>
                    <span style="font-family: KaiTi">中山大学黑客马拉松比赛</span>
                    <span>&nbsp;&nbsp;一款基于图像识别的Android应用</span>
                </p>
                <ul>
                    <li>利用Android原生的相机组件编写主页面拍摄功能，并实现触屏对焦功能</li>
                    <li>实现相机实时预览和图片显示对不同屏幕分辨率的适配</li>
                    <li>实现对拍照图片的切割和压缩处理，便于快速上传到服务器进行分析，并防止恶意代码攻击</li>
                </ul>
            </section>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-trophy"></i>&nbsp;获奖情况</h2>
        <hr></hr>
        <div class="reward">
            <p>
                <span style="font-family: KaiTi">二等奖</span>
                <span>&nbsp;&nbsp;中山大学优秀学生奖学金</span>
                <span style="float: right">2017年11月</span>
            </p>
            <p>
                <span style="font-family: KaiTi">一等奖</span>
                <span>&nbsp;&nbsp;中山大学普华永道杯华南地区创客马拉松</span>
                <span style="float: right">2017年4月</span>
            </p>
            <p>
                <span style="font-family: KaiTi">Meritorious&nbsp;Winner</span>
                <span>&nbsp;&nbsp;美国大学生数学建模竞赛</span>
                <span style="float: right">2017年4月</span>
            </p>
            <p>
                <span style="font-family: KaiTi">二等奖</span>
                <span>&nbsp;&nbsp;中山大学优秀学生奖学金</span>
                <span style="float: right">2016年11月</span>
            </p>
            <p>
                <span style="font-family: KaiTi">三等奖</span>
                <span>&nbsp;&nbsp;中山大学优秀学生奖学金</span>
                <span style="float: right">2015年11月</span>
            </p>
        </div>
    </div>
    <div>
        <h2><i class="fa fa-info-circle"></i>&nbsp;其他</h2>
        <hr></hr>
        <div>
            <section>
                <ul>
                    <li><b>学业成绩</b>&nbsp;:&nbsp;前10%</li>
                    <li><b>语言</b>&nbsp;:&nbsp;英语(CET-6 537分)</li>
                    <li><b>技术博客</b>&nbsp;:&nbsp;<a href="http://blog.csdn.net/skyebefreeman">http://blog.csdn.net/skyebefreeman</a> </li>
                    <li><b>GitHub</b>&nbsp;:&nbsp;<a href="https://github.com/SkyeBeFreeman">https://github.com/SkyeBeFreeman</a> </li>
                    <li><b>个人简历</b>&nbsp;:&nbsp;<a href="https://www.skyebefreeman.cn">https://www.skyebefreeman.cn</a> </li>
                </ul>
            </section>
        </div>
    </div>
</body>
</html>